@model Onlinecourseattendance.Models.AccountManager
@{
    Layout = null;}
@{
    ViewBag.Title = "ForgotPassword";
}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link href="~/Css/stylesheet.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="loginformclass">
            <h2>Forgot Password</h2>
            @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
            {
                <form>

                    <label>Type Your Email</label>
                    <input type="text" class="textinput2" name="Email" />
                    <button class="login-button">Get Reset Link</button>
                    <br />
                    <br />
                    <span class='errormessage'></span>
                </form>
            }
            </div>
            <script type="text/javascript">

    var error ="@ViewBag.Message";
    if (error !="")
    {
        $('.errormessage').html(error).css('color', 'red');

        //console.log(error);
        //alert(error);
    }


            </script>
    </body>