@{
    Layout = null;}
@{

    ViewBag.Title = "ResetPassword";
}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link href="~/Css/stylesheet.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    </head>
@*@if(Model.UserId!=0)
{
<h2>@Model.UserId</h2>
}*@
<body>
    <div class="loginformclass">
    <h2>ResetPassword</h2>

    <form>
        <p><label style="padding-right:100px;padding-left:30px;">New Password</label><input type="text" id="newpassword" class="textinput2" /></p>
        <p><label style="padding-right:70px;padding-left:30px;">Confirm Password</label><input type="text" id="confirmpassword" class="textinput2" onkeyup="PasswordCheck()" /></p>
        <p><label style="padding-right:67px;padding-left:30px;">Confirmation Code</label><input type="text" id="confirmcode" class="textinput2" /></p>

        <span class='errormessage' style="padding-left:170px"></span>

        <p><input type="button" class="login-button" style="margin-right:10px;margin-left:200px;" value="Reset Password" id="resetpwd" onclick="ResetPassword()" /></p>
    </form>
        </div>
    <script type="text/javascript">

        //ErrorMessage

    //PasswordCheck
    function PasswordCheck() {
        if ($('#newpassword').val() == $('#confirmpassword').val())
        {
            $('.errormessage').html('Password are matched!').css('color', 'green');
        }
        else
        {
            $('.errormessage').html('Password are not matched!').css('color', 'red');
        }
    }

    //ResetPassword

        function ResetPassword() {

            
            $.ajax({
                url: 'ResetPassword/Login',
                type: 'POST',
                //timeout: '12000',
                dataType: 'Text',
                data: {
                    pwd: newpassword.value,
                    UserId: @ViewBag.UserId,
                    code: confirmcode.value,

                },
                success: function (response) {
                    //var error = response.replace("\"", "");
                    var error = JSON.parse(response);
                    alert(result);
                    //var myJSON = JSON.stringify(response);
                    $('.errormessage').html(error).css('color', 'red');
                    $('.errormessage').html(error).css('padding-left', '50px');
                    //alert(response);
                },
                error: function () {

                    alert("Something Was Wrong! Please Reset Again!");

                }
            });
        }

    </script>

</body>